.main{
        font-size:60px;
      }

body {
            background-color: LightBlue;
            
        }


        h1 {
            color: White;
            text-align: center;
            font-size: 60px;
            font: impact ;
        }

        p {
            font-family: verdana;
            font-size: 20px;
            text-align: center;
        }

        ul {
            font-family: verdana;
            font-size: 20px;
        }


 .pink {
      background-color: white;
      width: 425px;
      border: 25px solid pink;
      padding: 25px;
      margin: 25px;
     text-align: center;
    }


.thistle {
         background-color: white;
         width: 425px;
         border: 25px solid thistle;
         padding: 25px;
         margin: 25px;
        text-align: center;
}

.head {
          position: absolute;
          top: 0px;
          left: 0px;
          right: 0px;
          width: 100%;
          height: 400px;
          z-index: -1;
}

                
.smaller{
  width:35%;
  height:35%;
  border-radius: 50%;
  align-items: center;
  display: block;
    margin: 0 auto;
}


/* Thank you for reading my code :) */
